body {
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
    height: 100%;
    background-color: #FFFFFF;
    margin-left: 50px;
/*    margin-top: 50px;*/
    }
fieldset {
    font-size: 13px;
    width: 600px;
    padding:20px;
}
table {
    border-style: ridge;
    border-spacing: 15px;
    padding:0px;
}
caption {
    text-decoration: underline;
}
.contenido{
    min-height: 400px;
    margin-bottom: 0px;
    z-index: 999;
}
.footer {
    bottom:0px;
    left:0px;
    width:100%;
    padding-bottom:5px;
    z-index: 1;
}
.clr{
	clear: both;
}
/*Estilo de los formularios */
form label{
    float:left;
    width:200px;
    text-align:right;
    margin-right:5px;
}
.boton {
float:right;
margin-right:50px;
}

/* Estilo del MENU VIEJO con JQUERY
.menu{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    height:35px;
    border-bottom:1px solid #ddd;
    background: RGBA(255,255,255,.9);
}
.menu ul{
    list-style:none;
    margin:6px auto 0px auto;
    width:100%;
    height:25px;
}
.menu ul li{
    display:inline;
    float:left;
    margin:0px 2px;
}
.menu a{
    float:left;
    padding: 2px 4px;
    border:1px solid #ccc;
    height:16px;
    line-height:16px;
    font-size:11px;
    text-decoration: none;
    color:#999;    
    cursor: pointer;
    background:#fff;
}
.menu a:hover{
    background:#D9D9DA none;
    color: #fff;
}*/
#accesos{
    float: left;
    color: #fff;
    margin-right: 35px;
}
#novedades{
    background:#FFFFFF url(../imgs/listas.png) no-repeat top right;
    border: 1px solid #ccc;
    margin-left: 145px;
    min-height: 150px;
    max-width:650px;
}
#cumpleanos{
    background:#FFFFFF url(../imgs/cum.png) no-repeat top right;
    border: 1px solid #ccc;
    margin-left: 145px;
    min-height: 150px;
    max-width:650px;
}
#calendario{
    border: hidden;
    max-width: 300px;
    min-height: 270px;
    float: left;
}
#asistencia{
    border-style: ridge;
	border-spacing: 0px;
	padding: 0px;
}

/*PRUEBA MENU*/
#nav {
	margin: 0 0 10px 0;
	padding: 07px 6px 0;
	line-height: 100%;

	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;

	background: #99C1d8; 
	border: solid 1px #6d6d6d;
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}
/* main level link */
#nav a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 8px 20px;
	margin: 0;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}
/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #d1d1d1; 
	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);*/
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #3b9abd !important; 
	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* level 2 list */
#nav ul {
	background: #ddd; 
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#nav li:hover > ul {
	display: block;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners for first and last child */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}
